// Neutral Palette
$black:     #000    !default;
$white:     #fff    !default;
$grey__950: #111    !default;
$grey__900: #333    !default;
$grey__700: #666    !default;
$grey__500: #999    !default;
$grey__300: #ccc    !default;
$grey__200: #aaa    !default;
$grey__100: #eee    !default;
$grey__050: #f8f8f8 !default;

$mocto__red: #e1004b !default;
$mocto__navy:  #052E36 !default;
$mocto__teal: #08B7C2 !default;
$mocto__mint: #E1F3F8 !default;

// Color Roles | Typography
$color__text              : $grey__950 !default;
$color__text-light              : $grey__950 !default;
$color__text--inactive        : $grey__900 !default;
$color__text--heading   : $mocto__navy !default;
$color__text--subheading   : $mocto__teal !default;

// Color Roles | Background Color
$color__page-background-light   : $mocto__mint !default;
$color__page-background-lightest   : $white !default;
$color__page-background-dark   : $mocto__teal !default;

$color__border      : $mocto__navy !default;