@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

$system__font-size: 1rem !default;
$system__type-scale: 1.25 !default;
$system__line-height: 1.6 !default;

$font__sans-serif: 'Public Sans', Helvetica, Arial, sans-serif !default;

%typography {
  color: $black;
  text-rendering: optimizeLegibility;
  margin-top: 1.1875rem;
  font-family: $font__sans-serif;
}

h1 {
  @extend %typography;
  font-size: 2.0625rem;
  line-height: 2.375rem;
  margin-bottom: 1.1875rem;
  color: $color__text--heading;
}

h2,
.h2 {
  @extend %typography;
  font-size: 1.625rem;
  line-height: 2.375rem;
  margin-bottom: 1.1875rem;
}

h3 {
  @extend %typography;
  font-size: 1.25rem;
  line-height: 2.375rem;
  margin-bottom: 0;
}

h4 {
  @extend %typography;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-bottom: 0;
}

h5 {
  @extend %typography;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-bottom: 0;
}

h6 {
  @extend %typography;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-bottom: 1.1875rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  color: $color__text;
  margin-bottom: 1.3rem;
  line-height: 1.4rem;
}