@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

$system__font-size: 1rem !default;
$system__type-scale: 1.25 !default;
$system__line-height: 1.6 !default;

$font__sans-serif: 'Public Sans', Helvetica, Arial, sans-serif !default;

// $theme-typeface-tokens: (
//   example-serif-token: (
//     display-name: "Example Serif Display Name",
//     cap-height: 364px,
//   ),
//   example-sans-token: (
//     display-name: "Example Sans Display Name",
//     cap-height: 364px,
//   ),
// );